@model Disclosure.Models.ViewFinancialDisclosureReports.Filter

@using (Html.BeginForm("ViewSearchResult", Model.PostUrl, FormMethod.Post, new { @class = "search-filter" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group library-form_group">
                <label for="formGroupInput" class="library-form_label">LAST NAME</label>
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control library-form_control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group library-form_group">
                <label for="formGroupInput" class="library-form_label">Election Year</label>
                @Html.DropDownListFor(x => x.ElectionYear, (SelectList)ViewBag.ElectionYears, htmlAttributes: new { @class = "form-control library-form_control library-form_select" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="formGroupInput" class="library-form_label">Office</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group library-form_group">
                <label for="formGroupInput" class="library-form_label">State</label>
                @Html.DropDownListFor(x => x.State, (SelectList)ViewBag.States, htmlAttributes: new { @class = "form-control library-form_control library-form_select" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group library-form_group">
                <label for="formGroupInput" class="library-form_label">District</label>
                @Html.TextBoxFor(x => x.District, new { @class = "form-control library-form_control" })
            </div>
        </div>
    </div>
    <div class="form-group library-form_group">
        <div class="col-md-4 col-sm-4">
            <button aria-label="search button" class="btn btn-library col-xs-12 search-btn" type="submit">Search</button>
        </div>
        <div class="col-md-4 col-sm-4">
            <button aria-label="clear button" class="btn btn-library col-xs-12" type="button">Clear</button>
        </div>
    </div>
}
<script>
    $(function () {
        $("form").on('submit', function (e) {
            $.post($(this).attr("action"),
                $(this).serialize(),
                function (data) {
                    $("#search-result").html(data);
                });
            e.preventDefault();
        });
    });
</script>
