<section class="container quick-links">
  <div class="row">
    <div class="col-lg-3 col-md-12">
      <h3>Quick Links</h3>
    </div>
    <div class="col-lg-9 col-md-12">
      <ul class="quick-links_list row" role="list" aria-label="quick links">
        <li role="listitem" class="quick-links_list-item col-md-6 col-sm-12">
          <a href="http://www.senate.gov/index.htm" title="United States Senate" class="external" target="_blank">United States Senate</a>
        </li>
        <li role="listitem" class="quick-links_list-item col-md-6 col-sm-12">
          <a href="https://www.cbo.gov/cost-estimates" title="Congressional Budget Office Cost Estimates" class="external" target="_blank">Congressional Budget Office Cost Estimates</a>
        </li>
        <li role="listitem" class="quick-links_list-item col-md-6 col-sm-12">
          <a href="https://www.congress.gov/roll-call-votes" title="Roll Call Votes" class="external" target="_blank">Roll Call Votes</a>
        </li>
        <li role="listitem" class="quick-links_list-item col-md-6 col-sm-12">
          <a href="https://www.majorityleader.gov/daily-schedule" title="Daily Legislative Schedule" class="external" target="_blank">Daily Legislative Schedule</a>
        </li>
        <li role="listitem" class="quick-links_list-item col-md-6 col-sm-12">
          <a href="https://www.gpo.gov/fdsys/browse/collection.action?collectionCode=CCAL" title="Congressional Calendars" class="external" target="_blank">Congressional Calendars</a>
        </li>
        <li role="listitem" class="quick-links_list-item col-md-6 col-sm-12">
          <a href="https://www.congress.gov/congressional-record" title="Congressional Record" class="external" target="_blank">Congressional Record</a>
        </li>
        <li role="listitem" class="quick-links_list-item col-md-6 col-sm-12">
          <a href="http://clerk.house.gov/legislative/legvotes.aspx" title="Discharge Petitions" class="external" target="_blank">Discharge Petitions</a>
        </li>
        <li role="listitem" class="quick-links_list-item col-md-6 col-sm-12">
          <a href="https://www.gpo.gov/fdsys/pkg/CDOC-114hdoc94/pdf/CDOC-114hdoc94.pdf" title="Reports to be Made to Congress" class="external" target="_blank">Reports to be Made to Congress, H. Doc 114-94</a>
        </li>
        <li role="listitem" class="quick-links_list-item col-md-6 col-sm-12">
          <a href="https://www.fdlp.gov" title="Federal Depository Libraries" class="external" target="_blank">Federal Depository Libraries</a>
        </li>
        <li role="listitem" class="quick-links_list-item col-md-6 col-sm-12">
          <a href="https://www.federalregister.gov/" title="Federal Register" class="external" target="_blank">Federal Register</a>
        </li>
        <li role="listitem" class="quick-links_list-item col-md-6 col-sm-12">
          <a href="https://www.congress.gov/resources/display/content/How+Our+Laws+Are+Made+-+Learn+About+the+Legislative+Process" title="How Our Laws Are Made" class="external" target="_blank">How Our Laws Are Made</a>
        </li>
        <li role="listitem" class="quick-links_list-item col-md-6 col-sm-12">
          <a href="http://www.house.gov/representatives/find" title="Find Your Representative" class="external" target="_blank">Find Your Representative</a>
        </li>
        <li role="listitem" class="quick-links_list-item col-md-6 col-sm-12">
          <a href="http://uscode.house.gov" title="U.S. Code" class="external" target="_blank">U.S. Code</a>
        </li>
        <li role="listitem" class="quick-links_list-item col-md-6 col-sm-12">
          <a href="http://www.house.gov" title="House.gov" class="external" target="_blank">House.gov</a>
        </li>
      </ul>
    </div>
  </div>
</section>